<div class="file-input-wrapper">
  <i class="glyphicon glyphicon-plus"></i>  
  <%= f.file_field :images, multiple: true %>
</div>
<div class="name-preview"></div>
<%= f.submit "Upload Images" %>

<div class="uploaded_images">
  <% @post.images.each_with_index do |img, index| %>
    <div class="one_image">
      <%= image_tag img.small.url %>
      <%= link_to "Delete", post_image_path(@post, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } %> 
    </div>
  <% end %>
</div>