<div class="file-input-wrapper">
  <i class="glyphicon glyphicon-plus"></i>  
  <%= f.file_field :images, multiple: true %>
</div>
<div class="name-preview"></div>
<%= f.submit t("share.img.upload_img") %>

<div class="uploaded_images">
  <% @post.images.each_with_index do |img, index| %>
    <div class="one_image">
      <%= image_tag img.small.url %>
      <%= link_to t("share.img.delete"), post_image_path(@post, index), :method => :delete, data: { confirm: t("share.img.r_u_sure") } %> 
    </div>
  <% end %>
</div>