  section.up {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0.8%;
    background-color: $background;
    .logo {
        float: left;
        padding: 5px 10px 5px 10px;
        border: 2px solid white;
      }
      .about {
        float: left;
        margin-top: 5px;
        padding: 0 10px 5px 10px;
        margin-left: 15px;
      }
    .nav {
      padding-top: 10px;
      .logo {
        float: left;
        padding: 5px 10px 5px 10px;
        border: 2px solid white;
      }
      nav {
        float: right;
        a {
          padding: 5px;
          display: inline-block;
          margin-left: 10px;
          &:hover { 
            color: $background;
            background-color: white;
            border-radius: 3px;
          }
          span {
            display: inline-block;
            margin-right: 2px;
          }
        }
        .dropdown {
          display: inline-block;
          button {
            outline: none;
            padding: 6px 10px;
            border-radius: 8px;
            margin-left: 5px;
            background-color: white;
            color: $background;
            border: 1px solid lightgrey;
            .caret {
              margin-left: 10px;
            }
          }
          ul {
            margin-top: 0;
            margin-left: 5px;
          }
        }
      }
    }
  }