$(document).ready(function(){
  // Change the sub-category select when
  // category select is changed
  $('#category_id').change(function(){
    v = $(this).val()
    if(v.length >= 1){
      $.ajax({
        url: "/categories/" + v + "/get_subcategories.js",
        type: "GET",
        dataType: "script",
        data: {"category_id": v}
      })
    } else {
      $('#subcategories_select').html("");
    }
  });
  // It is triggered when users click the 'Search Posts'
  // button
  $('#posts_search').click(function(){
    Cookies("search_cat", $('#search_form #category').val());
    Cookies("search_city", $('#search_form #city').val());
    Cookies("search_radius", $('#search_form #radius').val());
  })
  // Show buttons when a post is hovered
  // And hide it when mouse leave
  // and also --- Change style of post title when it is hovered
  $('.one-post').hover(
    function(){
      $(this).find('.post-buttons').show();
      $(this).find('h3').css("color","steelblue");
      $(this).find('h3').css("text-decoration","underline");
    },
    function(){
      $(this).find('.post-buttons').hide();
      $(this).find('h3').css("color","black");
      $(this).find('h3').css("text-decoration","none");
    }
  )
  // Hide Price Text field when 'hide price?' is 
  // checked
  hide_price_val = $(this).prop('checked');
  if (hide_price_val == "true") {
    $('label[for="post_price"]').hide();
    $('input#post_price').hide();
  } else {
    $('label[for="post_price"]').show();
    $('input#post_price').show();
  }

  $("#post_price_hide").change(function(){
    hide_price_val = $(this).prop('checked');
    if (hide_price_val == true) {
      $('label[for="post_price"]').hide(200);
      $('input#post_price').hide(200);
    } else {
      $('label[for="post_price"]').show(200);
      $('input#post_price').show(200);
    }
  })
  // Disable Add Images Button when there
  // are no files
  $(".img-form input[type='submit']").prop("disabled",true)
  $("#post_images").change(function(){
    if($(".img-form #post_images").val() == ""){
      $(".img-form input[type='submit']").prop("disabled",true)
    } else {
      $(".img-form input[type='submit']").prop("disabled",false)
    }
  })
  // Show file name preview
  $("#post_images").change(function(e){
    var st = "<ul class=\"name-preview\">";
    var file = $("#post_images")[0].files;
    console.log(file.length);
    for (i = 0; i < file.length; i++) {
      st += "<li>";
      st += "<i class=\"glyphicon glyphicon-file\"></i>";
      st += file[i].name;
      st += " (";
      st += Math.round(file[i].size/1024/1024*100) / 100;
      st += "MB)";
      st += "</li>"
    }
    st += "</ul>";
    $(".name-preview").replaceWith(st);
  })
})

