<h1>Edit a post</h1>
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <%= render partial: "share/post_form_error" %>
  <% end %>
  <%= render partial: "share/post_form", locals: {:f => f} %>
<% end %>