<div id="create-post-page">
  <section class="up">
    <%= render partial: "share/nav" %>
  </section>
  <section class="main">
    <div class="create-text clearfix">
      <div>
        <h1>發佈廣告</h1>
        <p>免費發佈廣告，讓其他同學、用戶看到！</p>
      </div>
    </div>
    <% @post.address = request.location.city %>
    <%= form_for @post do |f| %>
      <% if @post.errors.any? %>
        <%= render partial: "share/post_form_error" %>
      <% end %>
      <%= render partial: "share/post_form", locals: {:f => f} %>
    <% end %>
  </section>
</div>

