@media screen and (max-width: 760px) {
  .posts-index {
    .main {
      .search {
        input, select, input[type="text"] {
          width: 100%;
          margin-bottom: 3px;
        }
      }
      .posts-wrapper {
        .posts {
          width: 100%;
          .one-post {
            width: 100%;
          }
        }
        .google-ad-wrapper {
          display: none;
          width: 0;
        }
      }
    }
  }
  .create-post {
    section.main {
      padding: 3% 5%;
      form {
        input#post_title {
          width: 100%;
        }
        select#category_id {
          width: 45%;
        }
        div#subcategories_select {
          width: 45%;
        }
        input#post_price {
          margin-bottom: 10px;
        }
        label[for="post_address"] {
          display: block;
          margin-left: 0;
        }
        input#post_address {
          display: inline-block
        }
        textarea {
          width: 100%;
        }
      }
    }
  }
  .edit-post {

  }
}