/* For Posts Index Page */
#posts-index-page {
  section.up {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
    background-color: $background;
    .logo {
      float: left;
    }
    .nav {
      padding-top: 10px;
      .logo {
        float: left;
        padding: 5px 10px 5px 10px;
        border: 2px solid white;
      }
      .about {
        float: left;
        margin-top: 5px;
        padding: 0 10px 5px 10px;
        margin-left: 15px;
      }
      nav {
        float: right;
        a {
          padding: 5px;
          display: inline-block;
          margin-left: 10px;
          &:hover { 
            color: $background;
            background-color: white;
            border-radius: 3px;
          }
          span {
            display: inline-block;
            margin-right: 2px;
          }
        }
        .dropdown {
          display: inline-block;
          button {
            outline: none;
            padding: 6px 10px;
            border-radius: 8px;
            margin-left: 5px;
            background-color: white;
            color: $background;
            border: 1px solid lightgrey;
            .caret {
              margin-left: 10px;
            }
          }
          ul {
            margin-top: 0;
            margin-left: 5px;
          }
        }
        .lan-group {
          margin-left: 12px;
          padding-top: 3px;
          font-size: 0.8em;
          .lan {
            margin-left: 2px;
            font-size: 1em;
          }
        }
      }
    }
    .main-text {
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 50px;
      box-sizing: border-box;
      h1, p {
        text-align: center;
      }
      h1 {
        margin-bottom: 5px;
      }
      p.small {
        font-style: italic;
        color: grey;
        margin-bottom: 5px;
      }
    }
  }
  .main {
    .search {
      padding: 1.5% 10%; 
      border-bottom: 2px solid $border;
      form {
        input, select {
          margin-right: 5px;
          height: 35px;
        }
        input {
          border-radius: 5px;
          box-shadow: none;
          border: 1px solid grey;
          padding-left: 5px;
        }
        .search_keyword {
          width: 300px;
        }
        label {
          display: inline-block;
          margin-left: 6px;
        }
        input[type="submit"] {
          background-color: $contrast;
          padding-left: 5%;
          padding-right: 5%;
          color: white;
          border: 0;
          border-bottom: 1.5px solid grey;
          border-right: 1.5px solid grey;
          &:hover {
            background-color: #e57e00;
          }
        }
      }
    }
    .posts-wrapper {
      padding: 1.5% 10%;
      .posts {
        width: 100%;
        padding: 0;
        margin: 0;
        vertical-align: top;
        box-sizing: border-box;
        display: inline-block;
        .one-post {
          width: 49%;
          box-sizing: border-box;
          border-bottom: 2.5px solid $fade;
          border-right: 2.5px solid $fade;
          border-radius: 5px;
          display: inline-block;
          margin-bottom: 25px;
          padding: 18px 10px;
          position: relative;
          .top {
            .cat {
              color: $fade;
              display: inline-block;
              font-size: 1em;
              margin: 0;
              margin-bottom: 2px;
            }
            h3 {
              margin-left: 1px;
              font-size: 1.1em;
              display: inline-block;
            }
            .price {
              float: right;
              font-size: 1.2em;
            }
          }
          .bottom {
            p {
              float: left;
              .location, .create-at {
                font-size: 0.7em;
              }
              .label {
                font-size: 0.62em;
              }
            }
            .price {
              position: relative;
              bottom: 10px;
              float: right;
              font-size: 2em;
            }
          }
          .post-buttons {
            position: absolute;
            top: 5px;
            right: 5px;
            .edit-post, .delete-post {
              border-radius: 5px;
              font-size: 0.9em;
              color: white;
              padding: 5px 10px;
              text-align: center;
              border-bottom: 1.2px solid grey;
              border-right: 1.2px solid grey;
            }
            .edit-post {
              background-color: #87CEEB;
              display: inline-block;
              &:hover {
                background-color: #45b3e0;
              }
            }
            .delete-post {
              background-color: #F08080;
              display: inline-block;
              &:hover {
                background-color: #e83c3c;
              }
            }
          }
        }
      }
    }
  }
}
/* For Create Post Page */
#create-post-page {
  @import "share/nav-style";
  section.main {
    padding: 3% 10%;
    .create-text {
      div {
        float: left;
        h1 {
          font-size: 2.5em;
          margin-bottom: 10px;
          font-weight: 600;
        }
        p {
          color: $fade;
          margin-bottom: 10px;
        }
      }
      input {
        float: right;
        margin-right: 20%;
        margin-top: 1%;
        width: 18%;
        height: 45px;
        background-color: #9ACD32;
        color: white;
        border: 1px solid grey;
        border-radius: 5px;
        &:hover {
          background-color: #6c9023;
        }
      }
    }
    form {
      padding: 5px;
      padding-top: 20px;
      input#post_title {
        width: 80%;
        border-radius: 8px;
        border: 1px solid grey;
        display: block;
        height: 2.5em;
        padding-left: 8px;
        margin-bottom: 15px;
      }
      select#category_id {
        display: inline-block;
        width: 20%;
        margin-bottom: 15px;
      }
      div#subcategories_select {
        display: inline-block;
        width: 20%;
        select {
          width: 100%;
          margin-bottom: 15px;
          margin-left: 10px;
        }
      }
      label[for="post_price_hide"] {
        display: inline-block;
      }
      input#post_price_hide {
        display: inline-block;
      }
      label[for="post_price"] {
        margin-left: 20px;
      }
      input#post_price {
        height: 2.3em;
        border-radius: 8px;
        border: 1px solid grey;
        padding-left: 8px;
        margin-bottom: 15px;
      }
      label[for="post_address"] {
        margin-left: 20px;
      }
      input#post_address {
        height: 2.3em;
        border-radius: 8px;
        border: 1px solid grey;
        padding-left: 8px;
        margin-bottom: 15px;
      }
      .file-input-wrapper {
        height: 32px;
        width: 10%;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        /*Using a background color, but you can use a background image to represent a button*/
        background-color: white;
        border: 1px solid $fade;
        border-radius: 3px;
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
        padding-top: 4px;
        margin-bottom: 10px;
        &:hover {
          border: 1px solid black;
        }
      }
      .name-preview {
        padding-left: 5px;
        li {
          list-style: none;
          i {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
      #post_images {
        cursor: pointer;
        height: 100%;
        position:absolute;
        top: 0;
        right: 0;
        z-index: 99;
        /*This makes the button huge. If you want a bigger button, increase the font size*/
        font-size:50px;
        /*Opacity settings for all browsers*/
        opacity: 0;
      }
      p.img {
        margin-bottom: 10px;
        color: grey;
      }
      label[for="post_content"] {
        display: block;
        margin-bottom: 10px;
        color: grey;
        font-weight: normal;
      }
      textarea {
        width: 80%;
        border-radius: 8px;
        font-size: 1.2em;
        height: 600px;
        margin-bottom: 10px;
      }
      div.submit {
        width: 80%;
        input[type="submit"] {
          display: block;
          float: left;
          width: 18%;
          height: 45px;
          background-color: #9ACD32;
          color: white;
          border: 1px solid grey;
          border-radius: 5px;
          &:hover {
            background-color: #6c9023;
          }
        }
      }
    }
  }
}
/* For edit post Page */
#edit-post-page {
  @import "share/nav-style";
  section.main {
    padding: 3% 10%;
    .edit-text {
      div {
        float: left;
        h1 {
          font-size: 2.5em;
          margin-bottom: 10px;
          font-weight: 600;
        }
        p {
          color: $fade;
          margin-bottom: 10px;
        }
      }
      input {
        float: right;
        margin-right: 20%;
        margin-top: 1%;
        width: 18%;
        height: 45px;
        background-color: #9ACD32;
        color: white;
        border: 1px solid grey;
        border-radius: 5px;
        &:hover {
          background-color: #6c9023;
        }
      }
    }
    form.img-form {
      input[type="submit"] {
        display: block;
        width: 12%;
        height: 30px;
        background-color: #9ACD32;
        color: white;
        border: 1px solid grey;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 3%;
        &:disabled {
          background-color: grey;
          cursor: not-allowed;
          &:hover {
            background-color: grey;
          }
        }
        &:hover {
          background-color: #6c9023;
        }
      }
      div.uploaded_images {
        display: block;
        .one_image {
          display: inline-block;
          margin-right: 5px;
          img, a {
            display: block;
          }
          a {
            background-color: #F08080;;
            padding: 5px;
            border-radius: 5px;
            color: white;
            margin-top: 2px;
            margin-bottom: 20px;
            text-decoration: none;
            &:hover {
              background-color: #e83c3c;
            }
          }
        }
      }
    }
    hr {
      width: 80%;
    }
    form {
      padding: 5px;
      padding-top: 20px;
      input#post_title {
        width: 80%;
        border-radius: 8px;
        border: 1px solid grey;
        display: block;
        height: 2.5em;
        padding-left: 8px;
        margin-bottom: 15px;
      }
      select#category_id {
        display: inline-block;
        width: 20%;
        margin-bottom: 15px;
      }
      div#subcategories_select {
        display: inline-block;
        width: 20%;
        select {
          width: 100%;
          margin-bottom: 15px;
          margin-left: 10px;
        }
      }
      label[for="post_price_hide"] {
        display: inline-block;
      }
      input#post_price_hide {
        display: inline-block;
      }
      label[for="post_price"] {
        margin-left: 20px;
      }
      input#post_price {
        height: 2.3em;
        border-radius: 8px;
        border: 1px solid grey;
        padding-left: 8px;
        margin-bottom: 15px;
      }
      label[for="post_address"] {
        margin-left: 20px;
      }
      input#post_address {
        height: 2.3em;
        border-radius: 8px;
        border: 1px solid grey;
        padding-left: 8px;
        margin-bottom: 15px;
      }
      .file-input-wrapper {
        height: 32px;
        width: 10%;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        /*Using a background color, but you can use a background image to represent a button*/
        background-color: white;
        border: 1px solid $fade;
        border-radius: 3px;
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
        padding-top: 4px;
        margin-bottom: 10px;
        &:hover {
          border: 1px solid black;
        }
      }
      #post_images {
        cursor: pointer;
        height: 100%;
        position:absolute;
        top: 0;
        right: 0;
        z-index: 99;
        /*This makes the button huge. If you want a bigger button, increase the font size*/
        font-size:50px;
        /*Opacity settings for all browsers*/
        opacity: 0;
      }
      .name-preview {
        padding-left: 5px;
        li {
          list-style: none;
          i {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
      p.img {
        margin-bottom: 10px;
        color: grey;
      }
      label[for="post_content"] {
        display: block;
        margin-bottom: 10px;
        color: grey;
        font-weight: normal;
      }
      textarea {
        width: 80%;
        border-radius: 8px;
        font-size: 1.2em;
        height: 600px;
        margin-bottom: 10px;
      }
      div.submit {
        width: 80%;
        input[type="submit"] {
          display: block;
          float: left;
          width: 18%;
          height: 45px;
          background-color: #9ACD32;
          color: white;
          border: 1px solid grey;
          border-radius: 5px;
          &:hover {
            background-color: #6c9023;
          }
        }
      }
    }
    a.delete-post {
      background-color: #F08080;
      color: white;
      border: 1px solid grey;
      border-radius: 5px;
      width: 14.2%;
      margin-left: 0.5%;
      height: 42px;
      padding-top: 8px;
      text-align: center;
      display: block;
      &:hover {
        background-color: #e83c3c;
      }
    }
  }
}
/* For Post Show Page */
#show-post-page {
  @import "share/nav-style";
  section.main {
    padding: 3% 10%;
    .top {
      width: 100%;
      margin-bottom: 30px;
      .edit {
        color: white;
        float: right;
        padding: 5px;
        text-align: center;
        background-color: #87CEEB;
        border-radius: 5px;
        font-size: 1em;
        width: 8%;
        &:hover {
          background-color: #45b3e0;
        }
      }
    }
    .left {
      box-sizing: border-box;
      width: 74%;
      display: inline-block;
      vertical-align: top;
      .main-wrapper {
        padding: 3%;
        border: 1px solid $fade;
        border-radius: 8px;
        margin-bottom: 15px;
        .cat-group {
          margin-bottom: 6px;
          .cat, .sub-cat {
            float: left;
          }
          .cat {
            color: $fade;
          }
          span {
            display: inline-block;
            margin-left: 8px;
          }
        }
        .title-group {
          margin-bottom: 6px;
          .title {
            float: left;
            font-size: 2.3em;
            width: 75%;
          }
          .price {
            float: right;
            font-size: 2.3em;
          }
        }
        .address-group {
          margin-bottom: 20px;
          p, .address, .created_at, span {
            font-size: 0.8em;
            float: left;
          }
          span {
            margin-right: 3px;
            font-style: italic;
            color: $fade;
          }
        }
        .img-wrapper-wrapper {
          width: 100%;
          height: 180px;
          overflow: scroll;
          margin-bottom: 25px;
          .img-wrapper {
            height: 180px;
            button {
              float: left;
              margin-right: 10px;
            }
            .modal.core {
              padding-left: 32%;
              padding-top: 10%;
              .modal-dialog{
                margin: 0;
                text-align: center;
              }
            }
          }
        }
        .content {
          .text {
            color: grey;
            padding: 0;
            text-align: left;
            margin-bottom: 10px;
            display: block;
          }
          .core {
            width: 100%;
            @import "share/markdown-fix";
          }
        }
      }
      .map-wrapper {
        width: 100%;
        height: 350px;
        background-color: grey;
        margin-bottom: 25px;
        border: 1px solid $fade;
        border-radius: 8px;
        overflow: hidden;
        p {
          color: grey;
          background-color: white;
          padding: 3%;
        }
      }
      .comment-wrapper {
        width: 100%;
        padding: 3%;
        border: 1px solid $fade;
        border-radius: 8px;
        #new_comment {
          padding: 10px 0;
          label {
            display: block;
          }
          input[type="text"] {
            width: 70%;
            height: 70px;
            display: inline-block;
            margin-bottom: 10px;
          }
          input[type="submit"] {
            margin-bottom: 10px;
            display: inline-block;
            background-color: #9ACD32;
            color: white;
            border: 1px solid grey;
            border-radius: 3px;
            width: 20%;
            height: 30px;
            vertical-align: bottom;
            &:hover {
              background-color: #6c9023;
            }
          }
        }
        .text {
          color: grey;
        }
        .one-comment {
          width: 80%;
          padding: 5%;
          padding-right: 0;
          border-bottom: 1px solid $fade;
          border-radius: 3px;
          .top {
            margin-bottom: 10px;
            p {
              float: left;
              width: 80%;
            }
            a {
              float: right;
              padding: 5px 15px;
              background-color: #F08080;
              color: white;
              border-radius: 5px;
              &:hover {
                background-color: #e83c3c;
              }
            }
          }
          .bottom {
            font-size: 0.8em;
            color: grey;
            span {
              font-size: 1em;
              color: black;
            }
          }
        }
      }
    }
    .right {
      margin: 0;
      margin-left: 1%;
      box-sizing: border-box;
      display: inline-block;
      width: 24%;
      .post-owner {
        margin: 0;
        border: 1px solid $fade;
        border-radius: 5px;
        padding: 10%;
        padding-top: 13%;
        width: 100%;
        margin-bottom: 10px;
        .text {
          color: $fade;
          margin-bottom: 6px;
        }
        .username {
          margin-bottom: 20px;
        }
        table {
          th {
            color: grey;
            font-weight: normal;
            padding-right: 15px;
            width: 60%;
          }
          th, td {
            padding-bottom: 10px;
          }
        }
      } 
    }
  }
}