#sign-up-page {
  @import "share/nav-style";
  section.main {
    padding: 3% 35%;
    h1 {
      font-size: 3em;
      font-weight: 500;
    }
    p {
      color: $fade;
      margin-bottom: 10px;
    }
    .form-wrapper {
      label {
        margin-bottom: 5px;
      }
      input {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
      }
      input[type="submit"] {
        background-color: #9ACD32;
        color: white;
        border: 1px solid grey;
        border-radius: 5px;
        &:hover {
          background-color: #6c9023;
        }
      }
    }
  }
}
/* Update Profile page */
#update-profile-page {
  @import "share/nav-style";
  section.main {
    padding: 3% 20%;
    h1 {
      font-size: 3em;
      font-weight: 500;
    }
    p {
      color: $fade;
      margin-bottom: 10px;
      display: inline-block;
    }
    .lack-contact {
      display: inline-block;
      margin-left: 10px;
      color: crimson;
    }
    form {
      padding: 5px;
      .top-wrapper {
        label, input, textarea {
          display: block;
          width: 100%;
        }
        label {
          margin-bottom: 1px;
        }
        input {
          height: 35px;
          margin-bottom: 10px;
          padding-left: 2%;
        }
        textarea {
          height: 100px;
          margin-bottom: 10px;
          padding-left: 2%;
        }
        .left {
          display: inline-block;
          width: 46%;
          vertical-align: top;
        }
        .right {
          box-sizing: border-box;
          display: inline-block;
          width: 49%;
          margin-left: 1%;
          border-left: 1px solid #eee;
          padding-left: 1%;
          h3 {
            margin-bottom: 10px;
          }
          input.contact-lack {
            border-color: crimson;
          }
        }
      }
      .bottom {
        border-bottom: 1px solid grey;
        padding-bottom: 20px;
        input[type="password"] {
          height: 35px;
          padding-left: 1%;
          width: 30%;
        }
        input[type="submit"] {
          background-color: #9ACD32;
          width: 15%;
          height: 35px;
          color: white;
          border: 1px solid grey;
          border-radius: 5px;
          &:hover {
            background-color: #6c9023;
          }
        }
      }
    }
    .delete-user {
      padding-top: 20px;
      form.button_to {
        padding-left: 0;
        input {
          background-color: #F08080;
          color: white;
          width: 20%;
          height: 35px;
          border-radius: 5px;
          margin-left: 0;
          border: 1px solid grey;
          &:hover {
            background-color: #e83c3c;
          }
        }
      }
    }
  }
}
/* Profile Page */
#profile-page {
  @import "share/nav-style";
  section.main {
    padding: 3% 20%;
    .username-group {
      margin-bottom: 12px;
      h1 {
        float: left;
      }
      a {
        float: right;
        width: 15%;
        height: 35px;
        color: black;
        border: 1px solid $fade;
        border-radius: 5px;
        text-align: center;
        padding-top: 6px;
        &:hover {
          border-color: black;
        }
      }
    }
    table {
      padding: 5px;
      th, td {
        padding-right: 20px;
        padding-top: 10px;  
      }
    }
  }
}
#login-page {
  @import "share/nav-style";
  section.main {
    padding: 3% 35%;
    h1 {
      font-size: 3em;
      font-weight: 500;
    }
    p {
      color: $fade;
      margin-bottom: 10px;
    }
    .form-wrapper {
      label {
        margin-bottom: 5px;
      }
      input {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
      }
      input[type="submit"] {
        background-color: #9ACD32;
        color: white;
        border: 1px solid grey;
        border-radius: 5px;
        &:hover {
          background-color: #6c9023;
        }
      }
      .rem {
        display: inline-block;
        width: 3%;
        height: auto;
      }
      .rem-label {
        display: inline-block;
        width: 25%;
      }
    }
  }
}

/* Notice when user signed in and logged out */
.devise-notice,
.devise-alert {
  position: fixed;
  top: 5px;
  text-align: center;
  background-color: transparent;
  width: 30%;
  margin-left: 35%;
  z-index: 10000;
  p {
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    width: 100%;
    margin: 0 auto;
  }
}

.devise-notice p {
  background-color: #9ACD32;
}

.devise-alert p {
  background-color: #DC143C;
}