<p>Welcome！ <%= @email %>!</p>
<p>歡迎加入我們！ <%= @email %>!</p>
<hr>
<p>Please press the following link to activate your account:</p>
<p>請按以下連接激活你hey!list的帳號：</p>

<p><%= link_to '激活帳戶 Activate Account', confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale) %></p>
